<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>DWP_Request.getCity</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCityName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getSingleUser999</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getUsers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getInstructionResponse</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getSingleUser4</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
